<div class="navbar-lewagon" data-controller="navbar">
  <div class="navbar-logo-container">
    <%= link_to "Bookings", root_path %>
    <%= link_to "Join the boatclub", root_path %>
    <%= link_to "Browse boats", boats_path %>
  </div>
  <div class="navbar-user">
    <i class="fa-solid fa-user"></i>
  </div>
</div>
